<script>
	var chart = am4core.create("chartdiv", am4charts.XYChart);
	chart.data = [{
  "country": "Lithuania",
  "litres": 501
}, {
  "country": "Czechia",
  "litres": 301
}, {
  "country": "Ireland",
  "litres": 201
}, {
  "country": "Germany",
  "litres": 165
}, {
  "country": "Australia",
  "litres": 139
}, {
  "country": "Austria",
  "litres": 128
}, {
  "country": "UK",
  "litres": 99
}, {
  "country": "Belgium",
  "litres": 60
}, {
  "country": "The Netherlands",
  "litres": 50
}];
	/* Set color step */
	chart.colors.step = 2;

	/* Define data fields */
	chart.dataFields.value = "value";
	chart.dataFields.name = "name";
</script>