{% extends "./base.html" %}
{% block main %}
	<div class="jumbotron jumbotron-fluid my-4 py-1 mx-4 rounded rounded-3">
		<!--==== MODAL ====-->
		<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="popupModalTitle">Title</h5>
						<button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">&times;</button>
					</div>
					<div class="modal-body" id="modal-body"></div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<!--==== END OF MODAL ====-->
		<div id="chartdiv">
			<canvas id="canvas" width="640" height="480"></canvas>	
		</div>
	</div>
{% endblock %}
</script>